*{
	font-family: "Verdana", fallbackfont;
	font-size: 20px;
}	

h1 { 
	font-size: 3rem; 
}

#learn-bootcamp{
	text-transform: uppercase;
}

.offering-item{
	background-color: lightgreen;
}

.tools{
	border-color: blue;
	border-width: 2px;
	border-style: solid;	
}


img + ul{
	list-style-type: none;
	letter-spacing: 10px;
}	

section img{
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

ul ~ p{

	list-style-type: none;
	text-align: center;
	color: black;
}

